.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: #0c0c0c;
  color: #fff;
}

.logo img {
  width: 45px;
  height: 45px;
  margin-left: 20px;
  cursor: pointer;
}

.links-header a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: white;
  margin-top: 4px;
  transition: 0.3s;

}

.links-header a:hover::after {
  width: 100%;
}

.links-header a {
  font-size: 18px;
  color: #fff;
}

.links-header {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.content-home {
  color: black;
}