@media screen and (min-width: 700px) {
  .menu-mobile {
    display: none;
  }

  .menu-burger {
    display: none;
  }

}

@media screen and (max-width: 700px) {
  .header {
    padding: 10px 20px;
  }
  
  .menu-burger {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 65%;
  }

  .menu-burger.change {
    content: "x";
  }

  .links-header {
    display: none;
  }

  .menu-mobile {
    display: none;
    background-color: #201f1f;
    width: 100vw;
    height: 100vh;
    float: right;
  }

  .menu-mobile.show {
    display: block;
    transition: .4s ease;
  }

  section.hide {
    display: none;
  }


  .links-header-mobile li:first-child {
    margin-top: 50px;
  }

  .links-header-mobile li{
    text-align: center;
    margin-bottom: 60px;
  }

  .links-header-mobile a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }


  .links-header-mobile a:hover {
    color: #ffffff9c;
  }

  .border {
    background-color: #ffffff26;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 80%;
    height: 1px;
  }
}