/* HEADER */
@media screen and (min-width: 800px){
  .menu-hamburguer {
    display: none;
  }
}
@media screen and (max-width: 800px){
  .links-container-mobile.disable {
    display: none;
  }
  .links-container {
    display: none;
  }
  .menu-hamburguer {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .header {
    width: 100%;
  }
  .logo-not-finish {
    width: 35px;
    height: 35px;
  }
  .name-logo {
    font-size: 14px;
    margin-top: -5px;
    left: 30px;
  }
  .menu {
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 200ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .content-home {
    position: relative;
  }

  .links-container-mobile  {
    height: 285px;
    overflow: hidden;
  }
  .links-mobile {
    text-align: right;
    margin-right: 40px;
  }

  .links-mobile li {
    padding-left: 25px ;
  }

  .links-mobile li:first-child {
    margin-top: 25px;
  }
  .links-mobile li::after {
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    margin: 25px 0px;
    background-color: #9292922a;
  }
  .links-mobile li a {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
  }

  .links-mobile li a:hover {
    color: #FBD10F;
    transition: .4s ease;
  }
  .links-container-mobile {
    display: block;
    position: absolute;
    position: fixed;
    width: 100%;
    top: 75px;

    background-color: #fff;
    z-index: 1;
  }
}
@media  screen and (max-width: 650px) {
  .links-mobile li {
    padding: 0px 20px;
  }
  .links-mobile li::after {
    width: 100%;
  }
}

/* HOME */

@media screen and (max-width: 1100px){
  .header {
    padding: 30px 0px;
  }
  .logo-not-finish {
    width: 35px;
    height: 35px;
    margin-left: 30px;
  }
  .name-logo {
    font-size: 16px;
    margin-top: 5px;
  }
  .links li a {
    font-size: 14px;
  }
  .links-medias-content {
    padding: 2px 2px;
  }
  .medias-contents img{
    width: 30px;
    height: 30px;
  }
  .home-text h2 {
    margin-top: 40px;
    font-size: 50px;
  }
  .home-text p {
    font-size: 18px;
    text-align: center;
    width: 70%;
  }
 .home-text {
  margin-top: -0px;
 }
  .home-text button {
    width: 150px;
    height: 50px;
  }
  .home-text button a {
    font-size: 14px;
  }
  .aboutMe-content h2 {
    font-size: 30px;
  }
  .aboutMe-content p {
    font-size: 18px;
  }
  .know-me h3 {
    font-size: 23px;
  }
  .btn-contact {
    width: 150px;
    height: 50px;
  }
  .btn-contact a {
    font-size: 14px;
  }
  .skills h3 {
    font-size: 23px;
  }
  .my-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .my-skills li{
   margin-bottom: 20px;
   text-align: center;
   font-size: 18px;
  }
  #design {
    margin-top: 1px;
  }
  .know-me p {
    width: 130%;
  }
  .projects {
    height: 210vh;
  }
  .project-text h2 {
    font-size: 30px;
  }
  .project-text p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .projects img {
    width: 600px;
    height: 600px;
  }
  .portifolio-text {
    margin-top: 20px;
  }
  .portifolio-text h3 {
    font-size: 23px;
  }
  .port-button {
    width: 120px;
  }
  .portifolio-text p {
    width: 90%;
  }
  .port-button a {
      font-size: 14px;
  }
  .text-edit {
    margin-top: 170px !important;
  }
  .contact-text h2 {
    font-size: 30px;
  }
  .contact-text p {
    font-size: 20px;
  }
  .form button {
    width: 120px;
    font-size: 14px;
    margin-left: 500px;
  }
}

@media screen and (max-width: 1000px) {
  .portifolio-projects img {
    width: 500px;
    height: 550px;
    margin-bottom: 60px;
  }
  .portifolio-projects-slide img{
    width: 500px;
    height: 550px;
  }
  .portifolio-text {
    margin-top: 1px;
  }
  .home-text h2 {
    font-size: 40px;
  }
  .home-text p {
    font-size: 16px;
  }
  .home-text button {
    width: 120px;
  }
}

@media screen and (max-width: 800px){
  .menu-hamburguer {
    margin-right: 20px;
  }
  .home-text {
    margin-top: 50px;
  }
  .portifolio-projects {
    display: grid;
    grid-template-columns: 1fr;
  }
  .projects {
    padding: 0px 30px;
    height: 200%;
  }
  .projects h2 {
    font-size: 24px;
  }
  .projects p{
    font-size: 16px;
  }
  .projects img {
    width: 100%;
    height: 700px;
  }
  .portifolio-text {
    text-align: center;
    margin: 0 auto;
    margin-top: -220px;
  }
  .portifolio-text p {
    width: 500px;
  }
  .port-button {
    margin-bottom: 200px;
  }
  .home-text h2 {
    font-size: 35px;
  }
  .home-text p {
    font-size: 14px;
    width: 60%;
    text-align: center;
  }
  .home-text button {
    width: 120px;
    height: 40px;
    margin-top: -5px;
    margin-left: -15px;
  }
  .home-text button a {
    font-size: 12px;
  }
  .aboutMe-content h2 {
    font-size: 24px;
  }
  .aboutMe-content p  {
    font-size: 14px;
  }
  .skills h3 {
    font-size: 20px;
  }
  .my-skills {
   display: grid;
   grid-template-columns: 1fr;
  }
  .my-skills li {
    font-size: 14px;
  }
  #design {
    font-size: 14px;
    text-align: center;
    width: 94%;
  }
  .know-me h3 {
    font-size: 20px;
  }
  .know-me p {
    font-size: 14px;
  }
  .know-me button {
    width: 120px;
    height: 40px;
  }
  .know-me button a {
    font-size: 12px;
  }
  .portifolio-projects-slide {
    display: grid;
    grid-template-columns: 1fr;
  }
  .portifolio-projects-slide img {
    margin-bottom: -335px;
  }
  .contact h2 {
    font-size: 24px;
  }
  .contact p {
    font-size: 16px;
  }
  .form {
    width: 80%;
  }
  .form button {
    font-size: 12px;
    width: 120px;
    height: 40px;
    margin-left: 76%;
  }
  footer {
    padding: 50px;
  }
  .footer-text h3 {
    font-size: 20px;
  }
  .social-media-footer h3 {
    font-size: 20px;
  }
  .social-media-footer img {
    width: 30px;
  }
  .Copyright {
    margin-left: 32%;
  }
}

@media screen and (max-width: 700px){
  .home-text h2 {
    font-size: 30px;
  }
  .home-text p{
    font-size: 12px;
  }
  .home-text button {
    width: 90px;
  }
  .home-text button a {
    font-size: 10px;
  }
  .links-medias-content li{
    padding: 1px;
  }
  .links-medias-content img {
    width: 23px;
  }
  .know-me-content {
      grid-template-columns: 1fr;
    }
    .know-me h3 {
      text-align: center;
    }
    .know-me p {
      width: 100%;
    }
    .know-me button {
      width: 90px;
    }
    .know-me button a {
      font-size: 10px;
    }
    .skills h3 {
      text-align: center;
    }
    .my-skills {
      display: grid;
      grid-template-columns: 1fr 1fr;
     }
     .my-skills li {
       font-size: 16px;
     }
     #design {
       font-size: 16px;
       text-align: center;
       width: 97%;
       margin-bottom: 60px;
     }
     .projects p{
      font-size: 16px;
    }
    .projects img {
      width: 100%;
      height: 600px;
    }
    @media screen and (max-width: 600px) {
      .home-text h2 {
        flex-wrap: wrap;
      }
      .portifolio-projects img {
        height: 550px;
      }
      .portifolio-projects-slide img {
        height: 550px;
      }
      .portifolio-text p {
        font-size: 14px;
      }
      .port-button {
        width: 80px;
      }
      .port-button a {
        font-size: 12px;
      }
      .form button {
        margin: 50px auto;
        width: 80px;
        margin-bottom: -10px;
      }
      .footer-text h3{
        font-size: 16px;
      }
      .footer-text p {
        font-size: 12px;
        width: 80%;
      }
      .social-media-footer h3 {
        font-size: 16px;
      }
      .social-media-footer img {
        width: 25px;
      }
      .Copyright {
        margin-left: 26%;
      }
    }
}

@media screen and (max-width: 500px){
  
}